.create-join {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1.25rem;
  }

  &__input-box {
    display: flex;
    align-items: center;
  }

  &__input {
    margin: 0.5rem 0.75rem 1rem 0;
  }

  &__error {
    color: #c42a19;
    margin-bottom: 0.5rem;
  }

  &__button {
    margin-top: 0.25rem;
  }
}