.demo {
  padding-bottom: 1.25rem;

  &__link {
    color: #909497;
    list-style-type: none;
    padding-bottom: 0.75rem;
  }
}

.directions {
  padding-bottom: 1.75rem;
  font-weight: normal;
}

.paragraph {
  padding-bottom: 0.75rem;
}