.header {
  padding: 1rem 0;
  box-shadow: $header-box-shadow;

  &__wrapper {
    @include set-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 3rem;
  }

  &__button {
    color: $color-dark;
    font-weight: bold;
    background-color: $color-light;
    border: 0.125rem solid $color-light;
    padding: 0.375rem 0.625rem;
  }

  &__second-button {
    color: $color-dark;
    font-weight: bold;
    background-color: $color-light;
    border: $main-border;
    padding: 0.375rem 0.625rem;
    margin-right: 0.375rem;
  }
}