.header {
  padding: 1rem 0;
  border-bottom: $primary-border;

  &__wrapper {
    @include set-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 3rem;
  }
}