.landing-page {
  @include set-width;
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include small-tablet {
    padding: 1.5rem 0;
  }

  @include desktop {
    padding: 1.75rem 0;
  }

  @include large-desktop {
    padding: 2rem 0;
  }

  &__logo {
    @include desktop {
      height: 8rem;
    }
  }

  &__tagline {
    padding: 1.5rem 0 1.75rem;

    @include small-tablet {
      padding: 1.75rem 0 2rem;
    }
  }

  &__button {
    margin-bottom: 1.25rem;
  }
}