.options {
  &__list {
    width: 100%;
    margin: 0 auto;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0.125rem;
    }

    @include desktop {
      @include set-width-options;
    }
  }
}

.option-card {
  padding: 1rem 0;
  margin: 0.125rem;
  border-radius: 1rem;
  box-shadow: $main-box-shadow;

  @include tablet {
    width: calc(50% - 0.25rem);
  }

  @include large-desktop {
    width: calc(33.33% - 0.25rem);
  }

  &__wrapper {
    width: 80%;
    max-width: 185rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__gif {
    @include tablet {
      height: calc(40vw * 0.5946);
    }

    @include desktop {
      height: calc(34vw * 0.5946);
    }

    @include large-desktop {
      height: calc(23vw * 0.5946); 
    }
  }

  &__button-box {
    width: 100%;
    max-width: 32rem;
    display: flex;
    justify-content: space-between;
  }
}

.options-tied {
  &__title {
    padding-bottom: 1.5rem;
  }

  &__button {
    margin: 0.25rem 1rem 1rem 0;
  }
}


.link {
  &__name {
    padding: 1.25rem 0 0.25rem;
    font-weight: bold;
  }

  &__url {
    word-wrap: break-word;
    color: $color-highlight;
    text-decoration: underline;
  }
}