.option-card {
  padding: 1rem 0;
  margin: 0.125rem;
  border-radius: 1rem;
  box-shadow: $main-box-shadow;

  &__wrapper {
    width: 80%;
    max-width: 185rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.options-tied {
  &__title {
    padding-bottom: 1.5rem;
  }

  &__button {
    margin: 0.25rem 1rem 1rem 0;
  }
}


.link {
  &__name {
    padding: 1.25rem 0 0.25rem;
    font-weight: bold;
  }

  &__url {
    word-wrap: break-word;
    color: $color-highlight;
    text-decoration: underline;
  }
}