$color-dark: #37393A;
$color-light: #FAFAFB;
$color-highlight: #2071C1;

$title-font: 'Roboto', sans-serif;
$text-font: 'Open Sans', sans-serif;

$main-border: 0.125rem solid $color-highlight;

$main-box-shadow: 0 3px 6px -2px $color-dark;
$header-box-shadow: 0 6px 6px -6px $color-dark;

$mobile-content-width: 90%;
$tablet-content-width: 85%;
$desktop-content-width: 80%;
$large-desktop-content-width: 70%;

$small-tablet-breakpoint: 40rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 64rem;
$large-desktop-breakpoint: 96rem;