$color-dark: #37393A;
$color-light: #FAFAFB;
$color-highlight: #2071C1;

$title-font: 'Roboto', sans-serif;
$text-font: 'Open Sans', sans-serif;
$primary-border: 0.125rem outset #37393a6c;

$mobile-content-width: 90%;