.create-join {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: 1.25rem;

		@include desktop {
			padding-top: 1.5rem;
		}
	}

	&__input-box {
		display: flex;
		align-items: center;
	}

	&__input {
		margin: 0.5rem 0.75rem 1rem 0;

		@include desktop {
			margin: 0.5rem 1rem 1.5rem 0;
		}
	}

	&__error {
		color: #c42a19;
		margin-bottom: 0.5rem;

		@include desktop {
			margin-bottom: 1rem;
		}
	}

	&__button {
		margin-top: 0.25rem;

		@include small-tablet {
			margin-top: 0.5rem;
		}
	}
}
