* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: $color-light;
}

body {
	color: $color-dark;
}

.main {
	&__wrapper {
		@include set-width;
		padding: 1.25rem 0;
	}
}

.title {
	font-family: $title-font;
	font-size: 1.75rem;

	@include desktop {
		font-size: 2.25rem;
	}
}

.sub-title {
	font-family: $title-font;
	font-size: 1.375rem;

	@include desktop {
		font-size: 1.75rem;
	}
}

.text {
	font-family: $text-font;
	font-weight: 600;
	font-size: 1rem;

	@include desktop {
		font-size: 1.25rem;
	}
}

.list {
	padding-bottom: 1.25rem;

	@include desktop {
		padding-bottom: 1.75rem;
	}

	&__text {
		color: #909497;
		padding-bottom: 0.75rem;
	}
}

.button {
	color: $color-light;
	background-color: $color-highlight;
	font-family: $text-font;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem 0.75rem;
	border-radius: 0.75rem;
	border: none;
	box-shadow: $main-box-shadow;
	cursor: pointer;

	@include desktop {
		font-size: 1.25rem;
		padding: 0.75rem 1.25rem;
		border-radius: 1rem;
	}

	&:focus {
		outline: none;
	}
}

.input {
	color: $color-dark;
	font-family: $text-font;
	font-size: 1rem;
	padding: 0.375rem 0.625rem;
	border: $main-border;
	border-radius: 0.75rem;
	box-shadow: $main-box-shadow;

	@include desktop {
		font-size: 1.25rem;
		padding: 0.75rem 1rem;
		border-radius: 1rem;
	}

	&:focus {
		outline: none;
	}
}

.gif {
	display: block;
	width: 100%;
	max-width: 32rem;
	height: calc(90.5vw * 0.5946);
	max-height: 19.0272rem;
	object-fit: cover;
	border-radius: 0.875rem;
	margin: 1rem 0 1.75rem;

	@include small-tablet {
		margin: 1.375rem 0 2.125rem;
		border-radius: 1.25rem;
	}

	@include desktop {
		margin: 1.875rem 0 2.625rem;
	}
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
