.results {
  &__gif {
    margin-bottom: 2.5rem;

    @include small-tablet {
      margin-bottom: 2.875rem;
    }

    @include desktop {
      margin-bottom: 3.75rem;
    }
  }
}

.link {
  &__name {
    padding: 1.25rem 0 0.25rem;
    font-weight: bold;

    @include desktop {
      padding: 1.5rem 0 0.25rem;
    }

    @include large-desktop {
      padding: 1.75rem 0 0.25rem;
    }
  }

  &__url {
    word-wrap: break-word;
    color: $color-highlight;
    text-decoration: underline;
  }
}