@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #FAFAFB;
}

body {
  color: #37393A;
}

.main__wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 1.25rem 0;
}

@media (min-width: 40rem) {
  .main__wrapper {
    width: 85%;
  }
}

@media (min-width: 64rem) {
  .main__wrapper {
    width: 80%;
  }
}

@media (min-width: 96rem) {
  .main__wrapper {
    width: 70%;
  }
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
}

.sub-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.list {
  padding-bottom: 1.25rem;
}

.list__text {
  color: #909497;
  padding-bottom: 0.75rem;
}

.button {
  color: #FAFAFB;
  background-color: #2071C1;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  border: none;
  -webkit-box-shadow: 0 3px 6px -2px #37393A;
          box-shadow: 0 3px 6px -2px #37393A;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.input {
  color: #37393A;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 0.375rem 0.625rem;
  border: 0.125rem solid #2071C1;
  border-radius: 0.75rem;
  -webkit-box-shadow: 0 3px 6px -2px #37393A;
          box-shadow: 0 3px 6px -2px #37393A;
}

.input:focus {
  outline: none;
}

.gif {
  display: block;
  width: 100%;
  max-width: 32rem;
  height: calc(90.5vw * 0.5946);
  max-height: 19.0272rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.875rem;
  margin: 1rem 0 1.75rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  padding: 1rem 0;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0 6px 6px -6px #37393A;
          box-shadow: 0 6px 6px -6px #37393A;
}

@media (min-width: 40rem) {
  .header {
    margin-bottom: 0.75rem;
  }
}

@media (min-width: 64rem) {
  .header {
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 96rem) {
  .header {
    margin-bottom: 1.5rem;
  }
}

.header__wrapper {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 64rem) {
  .header__wrapper {
    width: 85%;
  }
}

@media (min-width: 96rem) {
  .header__wrapper {
    width: 80%;
  }
}

.header__logo {
  height: 3rem;
}

.header__button {
  color: #37393A;
  font-weight: bold;
  background-color: #FAFAFB;
  border: 0.125rem solid #FAFAFB;
  padding: 0.375rem 0.625rem;
}

.header__button--restart {
  border: 0.125rem solid #2071C1;
  margin-right: 0.375rem;
}

.landing-page {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 40rem) {
  .landing-page {
    width: 85%;
  }
}

@media (min-width: 64rem) {
  .landing-page {
    width: 80%;
  }
}

@media (min-width: 96rem) {
  .landing-page {
    width: 70%;
  }
}

.landing-page__tagline {
  padding: 1.25rem 0 1.5rem;
}

.landing-page__button {
  margin-bottom: 1.25rem;
}

.create-join__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1.25rem;
}

.create-join__input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-join__input {
  margin: 0.5rem 0.75rem 1rem 0;
}

.create-join__error {
  color: #c42a19;
  margin-bottom: 0.5rem;
}

.create-join__button {
  margin-top: 0.25rem;
}

.waiting__title {
  padding-bottom: 1.25rem;
}

.directions__text {
  padding-bottom: 0.75rem;
}

.directions__text--normal {
  font-weight: normal;
}

.directions__button {
  margin-top: 1rem;
}

.options__list {
  width: 100%;
}

@media (min-width: 40rem) {
  .options__list {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 40rem) and (min-width: 64rem) {
  .options__list {
    width: 80%;
  }
}

@media (min-width: 40rem) and (min-width: 96rem) {
  .options__list {
    width: 70%;
  }
}

@media (min-width: 48rem) {
  .options__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.option-card {
  padding: 1rem 0;
  margin: 0 0.5rem 0.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 3px 6px -2px #37393A;
          box-shadow: 0 3px 6px -2px #37393A;
}

@media (min-width: 40rem) {
  .option-card {
    margin: 0 0.5rem 1rem;
  }
}

@media (min-width: 48rem) {
  .option-card {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 64rem) {
  .option-card {
    margin: 0 0.75rem 1.5rem;
    width: calc(50% - 1.5rem);
  }
}

@media (min-width: 96rem) {
  .option-card {
    margin: 0 0.875rem 1.75rem;
    width: calc(33.33% - 1.75rem);
  }
}

.option-card__wrapper {
  width: 80%;
  max-width: 185rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.option-card__gif {
  height: calc(77vw * 0.5946);
}

@media (min-width: 40rem) {
  .option-card__gif {
    height: calc(66.5vw * 0.5946);
  }
}

@media (min-width: 48rem) {
  .option-card__gif {
    height: calc(33vw * 0.5946);
  }
}

@media (min-width: 64rem) {
  .option-card__gif {
    height: calc(30.5vw * 0.5946);
  }
}

@media (min-width: 96rem) {
  .option-card__gif {
    height: calc(17.5vw * 0.5946);
  }
}

.option-card__button-box {
  width: 100%;
  max-width: 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.options-tied__title {
  padding-bottom: 1.5rem;
}

.options-tied__button {
  margin: 0.25rem 1rem 1rem 0;
}

.link__name {
  padding: 1.25rem 0 0.25rem;
  font-weight: bold;
}

.link__url {
  word-wrap: break-word;
  color: #2071C1;
  text-decoration: underline;
}
/*# sourceMappingURL=index.css.map */